doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Java SE 8 Introduction

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='bower_components/bespoke-fx/src/main.css')
    link(rel='stylesheet', type='text/css', href='bower_components/bespoke-fx/src/animations.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body


    article

      section
        h1 Java SE 8 Introduction

      section
        h2 Target
        ul
          li
          li Funcational
          li None for(int i=0; i++; i< array.size())
          li Lambda
          li Stream

      section
        h2 Java versions
        ul
          li
          li <a href="http://www.oracle.com/technetwork/java/javase/8train-relnotes-latest-2153846.html">JDK 8 Release Notes</a>
          li <a href="http://www.oracle.com/technetwork/java/javase/8-whats-new-2157071.html">What's New in JDK 8</a>


      section
        h2 New features
        ul
          li
          li Lambda Expressions
          li Method references
          li Default methods
          li Repeating Annotations
          li Stream
          li Nashorn Javascript Engine
          li Parallel Array Sorting
          li Standard Encoding and Decoding Base64
          li Concurrency

      section
        h2 Why lambda
        ul
          li
          li Parallelism
          li Asynchronous
          li Cool

      section
        h2 Lambda
        hr
        pre
          code.language-java.
            ActionListener al = new ActionListener() {

                @Override
                public void actionPerformed(ActionEvent e) {
                    showMessageDialog(f, "你好);
                }
            };


      section
        h2 Lambda
        hr
        pre
          code.language-java.
            ActionListener al =
                        e -> showMessageDialog(frame, "你好");



      section
        h2 Funcational Interface
        ul
          li
          li Interfaces contains only one abstract method
          li @FuncationalInterface

      section
        h2 Funcational Interface
        pre
          code.language-java.
            public void printPersons(List<Person> roster,
                CheckPerson tester) {
                      ...
            }

            // interface
            interface CheckPerson {
                boolean test(Person p);
            }

      section
        h2 Funcational Interface
        pre
          code.language-java.
            // anonymous class
            printPersons(
                roster,
                new CheckPerson() {
                    public boolean test(Person p) {
                        return p.getGender() == Person.Sex.MALE
                            && p.getAge() >= 18
                            && p.getAge() <= 25;
                    }
                }
            );

      section
        h2 Funcational Interface

        pre
          code.language-java.
            printPersons(
                roster,
                (Person p) -> p.getGender() == Person.Sex.MALE
                    && p.getAge() >= 18
                    && p.getAge() <= 25
            );
        strong <a href="http://docs.oracle.com/javase/tutorial/java/javaOO/lambdaexpressions.html">lambda expressions tutorial</a>


      section
        h2 Lambda
        pre
          code.language-java.
            public static void processPersons(
                List<Person> roster,
                Predicate<Person> tester,
                Consumer<Person> block) {
                    for (Person p : roster) {
                        if (tester.test(p)) {
                            block.accept(p);
                        }
                    }
            }

      section
        h2 Lambda
        pre
          code.language-java.
            processPersonsWithFunction(
                roster,
                p -> p.getGender() == Person.Sex.MALE
                    && p.getAge() >= 18
                    && p.getAge() <= 25,
                p -> p.getEmailAddress(),
                email -> System.out.println(email)
            );


      section
        h2 Lambda syntax

        pre
          code.language-java.

            () -> System.out.println("hehe")

            x -> System.out.println("hehe " + x)

            (a, b) -> a + b

            (int x, int y) -> {
                return x + y;
            }


      section
        h2 Lambda Variables Scope
        ul
          li
          li have the same access to local variables of the enclosing scope
          li do not have any shadowing issues/ no new level of scoping

      section
        h2 Lambda
        ul
          li
          li not directly support by JVM, processed as Class's instances


      section
        h2 Method reference
        ul
          li
          li instance::method (with only one parameter)
          li Class::method
            ul
              li
              li static method with only one parameter
              li instance mehtod without parameter


      section
        h2 Default Method
        p also
        ul
          li
          li virtual extension methods
          li Defender method

      section
        h2 Generalized Target-Type Inference



      section
        h2 Stream API
        ul
          li
          li java.util.stream
          li Stream pipeline
          li A sequence of elements supporting sequential and parallel aggregate operations
          li Most stream operations accept parameters that describe user-specified behavior
          ul
            li
            li instances of a functional interface such as Function
            li lambda expressions
            li method references

      section
        h2 Ruby/Rails

        pre.bullet
          code.language-ruby.
            # Ruby
            [1,2,3,4].reduce(:+) # => 10

            Product.where("type = 0").limit(100).order("price")

        pre.bullet
          code.language-java.
            // Java
            Integer sum = integers.reduce(0, Integer::sum);


      section
        h2 Stream API

        pre
          code.language-java.
            List<String> girlStudyBugs = students.stream()
                .filter(f -> f.getGender().equals("F"))
                .filter(f -> f.getScore() > 80)
                .sorted(Comparator.comparingInt(Student::getScore))
                .map(Student::getName)
                .collect(Collectors.toList());

      section
        h2 Stream Operations
        ul
          li
          li Source(Arrays,Collections, IO channel)
          li Intermediate Operations(All intermediate operations are lazy)
          li Terminal Operation


      section
        h2 Stream Source
        ul
          li
          li Stream&lt;T&gt;
          li IntStream, LongStream, DoubleStream

      section
        h2 Create Stream
        ul
          li
          li Collection#stream
          li Arrays#stream
          li Stream#of
          li BufferReader#lines
          li IntStream#range

      section
        h2 Intermediate Operations
        ul
          li
          li filter
          li map, flatMap
          li sorted
          li limit, skip
          li distinct
          li peek

      section
        h2 Terminal Operation
        ul
          li
          li collect, reduce
          li min, max, average, sum, count
          li findFirst, findAny
          li allMatch, anyMatch, noneMatch
          li forEach, forEachOrdered

      section
        h2 Sequential/Parallel Stream

      section
        h2 Optional Class



    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/bespoke-fx/libs/modernizr/modernizr.custom.js')
    script(src='bower_components/bespoke-fx/dist/bespoke-fx.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='bower_components/prism/components/prism-java.js')
    script(src='bower_components/prism/components/prism-ruby.js')
    script(src='scripts/main.js')
    // endbuild
